<div class="flex flex-col md:flex-row h-screen bg-gray-50">
  <aside class="w-full md:w-64 bg-white shadow-md flex flex-col">
    <div class="p-4">
      <h2 class="text-lg font-bold text-center">Laundry Management</h2>
    </div>
    <nav class="mt-6 flex-1">
      <ul>
        <li>
          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">home</span>
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/create-orders"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">add_shopping_cart</span>
            Orders
          </a>
        </li>

        <li>
          <a
            routerLink="/customer"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">group</span>
            Customer Management
          </a>
        </li>
        <li>
          <a
            routerLink="/payments-management"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">payment</span>
            Payments Management
          </a>
        </li>
        <li>
          <a
            routerLink="/expense-tracking"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">attach_money</span>
            Expense Tracking
          </a>
        </li>
        <li>
          <a
            routerLink="/staff-management"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">supervisor_account</span>
            Staff Management
          </a>
        </li>

        <li>
          <a
            routerLink="/settings"
            routerLinkActive="active"
            class="flex items-center p-4 hover:bg-gray-200 transition duration-300">
            <span class="material-icons mr-2">settings</span>
            Settings
          </a>
        </li>
      </ul>
    </nav>

    <div class="mt-auto p-4">
      <div class="mt-4 p-0">
        <a
          routerLink="/help-and-support"
          routerLinkActive="active"
          class="flex items-center p-4 text-sm hover:bg-gray-200 transition duration-300">
          Help and Support
        </a>
      </div>

      <div class="flex items-center">
        <img
          src="{{ this.user?.profile_image ? this.user?.profile_image : ('https://avatar.iran.liara.run/public/boy?username=' + this.user?.first_name) }}"
          alt="User Profile" class="h-10 w-10 rounded-full">
        <div class="ml-3">
          <p class="font-semibold">{{this.user?.first_name}} {{this.user?.last_name}}</p>
          <p class="text-xs text-gray-500">{{this.user?.status}}</p>
        </div>
      </div>
    </div>
  </aside>

  <main class="flex-1  overflow-y-auto">
    <header class="flex items-center p-4 md:p-4 justify-between  flex-col md:flex-row sticky top-0 bg-white z-10 shadow-md">
      <div class="flex space-x-4 mb-4 md:mb-0">
      <button class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">Create Order</button>

      <!-- Search Bar -->
      <div class="relative">
        <input
        type="text"
        placeholder="Search..."
        class="bg-gray-200 text-gray-800 rounded-full pl-10 pr-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-600"
        />
        <span class="absolute left-3 top-2.5 text-gray-500">🔍</span>
      </div>
      </div>

      <img
      src="{{ this.user?.profile_image ? this.user?.profile_image : ('https://avatar.iran.liara.run/public/boy?username=' + this.user?.first_name) }}"
      alt="User Profile" class="h-10 w-10 rounded-full" (click)="toggleDropdown()">


      <div *ngIf="dropdownOpen" class="absolute right-0 mt-20 mr-2 w-48 bg-white border rounded shadow-lg">
      <div (click)="logout()"
         class="block px-4 py-2 text-gray-800 hover:bg-gray-200 cursor-pointer flex items-center">
        <span class="material-icons text-red-500 mr-2">logout</span>
        <span>Logout</span>
      </div>
      </div>
    </header>

    <router-outlet></router-outlet>
  </main>
</div>
