<div class="p-6">
    <header class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Customers</h1>
        <div class="flex items-center space-x-4">
            <mat-form-field>
                <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="fetchCustomers()" />
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="discountEligibility" [(ngModel)]="selectedDiscountType" (selectionChange)="fetchCustomers()">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="true">Eligible</mat-option>
                    <mat-option value="false">Ineligible</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addCustomer()">Add Customer</button>
        </div>
    </header>

    <div class="flex mb-4">
        <button mat-button (click)="viewMode = 'table'">Table View</button>
        <button mat-button (click)="viewMode = 'card'">Card View</button>
    </div>

    <!-- Customers List -->
    <div *ngIf="viewMode === 'table'">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let customer">{{ customer.first_name }} {{ customer.last_name }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let customer">{{ customer.phone_number }}</td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
            </ng-container>

            <ng-container matColumnDef="loyaltyPoints">
                <th mat-header-cell *matHeaderCellDef>Loyalty Points</th>
                <td mat-cell *matCellDef="let customer">{{ customer.loyalty_points }}</td>
            </ng-container>

            <ng-container matColumnDef="discountEligibility">
                <th mat-header-cell *matHeaderCellDef>Discount Eligibility</th>
                <td mat-cell *matCellDef="let customer">{{ customer.discount_eligibility ? 'Yes' : 'No' }}</td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let customer">{{ customer.created_at | date }}</td>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>Updated At</th>
                <td mat-cell *matCellDef="let customer">{{ customer.updated_at | date }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="matColumnDef"></tr>
            <tr mat-row *matRowDef="let row; columns: matColumnDef"></tr>
        </table>
    </div>

    
    <div *ngIf="viewMode === 'card'" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <mat-card *ngFor="let customer of dataSource.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="bg-white border border-gray-300 p-4 rounded shadow">
            <mat-card-title>{{ customer.first_name }} {{ customer.last_name }}</mat-card-title>
            <mat-card-content>
                <p>Email: {{ customer.email }}</p>
                <p>Phone: {{ customer.phone_number }}</p>
                <p>Address: {{ customer.address }}</p>
                <p>Loyalty Points: {{ customer.loyalty_points }}</p>
                <p>Discount Eligibility: {{ customer.discount_eligibility ? 'Yes' : 'No' }}</p>
                <p *ngIf="matColumnDef.includes('createdAt')">Created At: {{ customer.created_at | date }}</p>
                <p *ngIf="matColumnDef.includes('updatedAt')">Updated At: {{ customer.updated_at | date }}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[10, 25, 30, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons aria-label="Select page"></mat-paginator>
</div>
